{{ set(this, 'title', name) }}         
                        
<div class="landing-page-content landing-page-content_reduce-padding">
	<h2>{{name}}</h2>
	<p>{{_AppHelper.translator('app', message)}}</p>
</div>