.card {
    border-top-style:solid;
    border-top-width:6px;
    background-color:$light-color;
    display:table;
    width:100%;
    margin-bottom:20px;
    position:relative;

    @include phone {
        margin-top:66px;
    }
    &__no-image {
        display:table-cell;
        @include phone {
            border-width:0px;
            border-top-width:6px;
            border-style:solid;
            display:block;
        }
    }
    &__image {
        background-color:$gray;
        background-position:50%;
        background-repeat:no-repeat;
        @include background-size(cover);
        border-color:$highlight-color;
        border-width:0px;
        border-style:solid;
        display:table-cell;
        position:relative;
        width:50%;
        @include phone {
            display:block;
            height:180px;
            width:100%;
            border-right:none;
            border-bottom-width:6px;
            border-bottom-style:solid;
        }
    }
    &__center {
        position:relative;
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        z-index:100;
    }
    &__content {
        display:table-cell;
        padding:20px;
        position:relative;
        z-index:100;
        vertical-align:middle;
        @include phone {
            display:block;
        }
    }
    &__category {
        color:$highlight-color;
        font-size:12px;
        font-family:$heading-font-family;
        font-weight:bold;
        letter-spacing:0.5px;
        line-height:16px;
        text-transform:uppercase;
        &:after {
            background-color:$highlight-color;
            border-radius:4px;
            content:"";
            display:block;
            height:4px;
            margin-bottom:30px;
            margin-top:5px;
            width:24px;
        }
        @include phone {
            &:after {
                margin-bottom:18px;
            }
        }
    }
    &__heading-large {
        @include card_heading1;
    }
    &__heading {
        @include card_heading3;
        @include phone {
            @include card_heading4;
            width:100%;
        }
    }
    &__heading-small {
        @include card_heading4;
    }
    &__text {
        @include card_text;
        margin-bottom:22px;
        @include phone {
            margin-bottom:0px;
        }
    }
    &__username {
        @include card_text_small;
        color:$highlight-color;
        display:block;
        line-height:26px;
    }
    &__link {
        @include card_text;
        display:block;
        font-weight:bold;
        text-transform:uppercase;
    }
    &__views {
        @include card_text_small;
        color:$highlight-color;
    }
    &__caption {
        @include card_text_small;
        display:block;
        margin-top:20px;
        margin-bottom:0px;
        position:relative;
        &:after {
            content:"";
            clear:both;
            display:block;
        }
    }
    &__tag {
        @include card_text;
        color:$hashtag-color;
    }
    &__avatar {
        background-repeat:no-repeat;
        background-position:50%;
        @include background-size(40px);
        @include border-radius(50px);
        float:left;
        margin-right:14px;
        position:relative;
        height:40px;
        width:40px;
		background-image:url('../images/data/avatar-08.jpg');

		&-follow {
            background-image:url('../images/icons/follow.svg');
            background-position:50%;
            background-repeat:no-repeat;
            @include background-size(18px);
            height:18px;
            position:absolute;
            right:-6px;
            text-align:center;
            top:-6px;
            width:18px;
       }

		&-unfollow {
            background-image:url('../images/icons/unfollow.svg');
            background-position:50%;
            background-repeat:no-repeat;
            @include background-size(18px);
            height:18px;
            position:absolute;
            right:-6px;
            text-align:center;
            top:-6px;
            width:18px;
        }
    }
    &__author {
        @include card_text_small;
        color:$highlight-color;
        display:block;
    }
    &__date {
        @include card_text_small;
        display:inline-block;
    }
    &__read-time {
        @include card_text_small;
        &:before {
            margin:0px 6px 0px 3px;
            content:"|";
        }
    }
    &__icon {
        &-social {
            @include image_background_social_share;
            background-position:50%;
            background-repeat:no-repeat;
            @include background-size(24px);
            height:30px;
            opacity:0.5;
            position:absolute;
            right:0px;
            top:0px;
            width:30px;
            &:hover {
                opacity:1;
                cursor:pointer;
            }
        }
        &-youtube,
        &-vimeo {
            top:50%;
            left:50%;
            z-index:1;
            margin-top:-30px;
            margin-left:-30px;
            position:absolute;
            @include image_background_social_youtube;
            background-position:50%;
            @include background-size(100%);
            background-repeat:no-repeat;
            margin-bottom:20px;
            height:60px;
            width:60px;
        }
    }
    &:hover {
        color:$dark-color;
    }
}

/* */
/* Cateogry Ads for All */
/* */
[class*="col-"] {
    .card {
        &.card_ads.card--light {

            .card__category {
                color:$white;
                background-color:$warning;
            }
            .card__author {
                color:$warning;
            }
        }
    }
}


[class*="col-"] {
    .card {
        &.card_ads.without__image {
            border-color:$warning;
        }

        &.card_ads.withImage__content {
            border-color:$warning;
        }
    }
}


[class*="col-"] {
    .card {
        &.card_ads {

            .card__category, .card__author {
                color:$warning;

                &:after {
                    background-color:$warning;
                }
            }
        }
    }
}


/* */
/* Cateogry Ads for Full */
/* */
.col-full {
    .card {
        &.card_ads {

            .card__category, .card__author {
                color:$warning;

                &:after {
                    background-color:$warning;
                }
            }
        }
        &.card_ads.without__image {
            border-color:$warning;
        }
    }
}

.full_screen {
    &.card_ads {
        .card__category, .card__author {
            color:$warning;

            &:after {
                background-color:$warning;
            }
        }
    }
    &.card_ads.without__image {
        border-color:$warning;
    }
}


.card {
    .card__tag {
        display:none;
    }
    .card__instagram {
        .card__tag {
            display:block;
        }
    }
}

@media screen and (max-width:481px) {
    .card__image {
        border-bottom:0px none;
    }
}

/*! Overlay Button */
.btn_overlay {
    top:0px;
    right:0px;
    width:auto;
    width:28px;
    z-index:101;
    visibility:hidden;
    position:absolute;
    @include opacity(0);
    background:transparent none repeat scroll 0 0;
    @include transition(all 0.5s ease 0s);

    .btnhide {
        float:left;
        width:28px;
        color:#ededed;
        border:0 none;
        margin:0px 0px;
        min-height:28px;
        max-height:28px;
        line-height:28px;
        position:relative;
        @include border-radius(0px);
        font-size:($baseFontSize * 1);
        border:1px solid rgba($black, 0.9);
        @include transition(all 0.5s ease 0s);
        background:none repeat scroll 0 0 rgba($black, 0.9);

        &:not(:first-child) {
            border-top:0px none!important;
        }

        &:hover, &:active {
            border:1px solid rgba($black, 0.1);
            background:none repeat scroll 0 0 rgba($hover-color, 0.9);
        }

        .fa {
            font-size:($baseFontSize * 1) + 2;
        }

        .fa-thumb-tack {
            @include transform(rotate(-33deg));

            &::after {
                left:5%;
                right:5%;
                z-index:0;
                height:6%;
                bottom:-5%;
                content:"";
                position:absolute;
                @include border-radius(70%);
                @include transform(scaleY(0.1));
                @include box-shadow((0 0 6px 6px rgba(0,0,0,0.1), 0 0 15px 10px rgba(0,0,0,0.1), inset 0 0 10px 20px rgba(0,0,0,0.25)));
            }
        }
    }
}

/*! Overlay Button Tooltips */
.social-tooltip {
	z-index:98;
	color:$white;
	display:inline;
	position:relative;
	font-size:($baseFontSize * 1) - 2;

    &.selected {
        background:none repeat scroll 0 0 rgba($hover-color ,0.95);
        border-color:rgba($hover-color ,0.95);
    }
	&:hover {
		color:$white;
		text-decoration:none;

		&:after {
			top:3px;
			right:40px;
			color:$white;
			display:block;
			line-height:1.3;
			font-weight:400;
			padding:5px 8px;
			position:absolute;
			white-space:nowrap;
			content:attr(title);
			@include border-radius(3px);
			font-size:($baseFontSize * 1) - 2;
			-webkit-box-shadow:0 0 2px rgba($black ,0.2);
			@include box-shadow(0 0 2px rgba($black ,0.2));
			background:none repeat scroll 0 0 rgba($hover-color ,0.95);
		}

		&:before {
            top:11px;
            right:35px;
            z-index:1;
            border:solid;
            border-color:transparent rgba($hover-color ,0.95);
            border-width:5px 0 5px 5px;
            content:" ";
            display:block;
            position:absolute;
		}
	}
}

.card {
    &:hover, &:focus, &:active {
        .btn_overlay {
            visibility:visible;
            @include opacity(1);
            @include transition(all 0.5s ease 0s);
        }
    }
}



.col-two-thirds, .col-full {
    .btn_overlay {
        left:auto;
        right:0px;
    }

    .social-tooltip {

        &:hover {

            &:after {
                left:auto;
                right:40px;
            }

            &:before {
                left:auto;
                right:35px;
                border-width:5px 0 5px 5px;
            }
        }
    }
}


.col-third, .col-two-thirds, .col-quarter {
    .card {
        .card__content {
            height:215px;
            position:relative;
            vertical-align:top;
            .card__caption {
                bottom:20px;
                margin-bottom:0px;
                position:absolute;
                width:calc(100% - 40px);
                @include phone {
                    width:100% !important;
                }
            }
        }

        &.card--light {
            .card__content {
                height:400px;
                position:relative;

                .card__caption {
                    bottom:20px;
                    margin-bottom:0px;
                    position:absolute;
                    width:calc(100% - 40px);
                }
            }
        }
    }
}

.col-quarter {

    .card {

        &.withImage__content {
            .card__content {
                height:264px;
            }
        }

        &.without__image {
            .card__content {
                height:400px;
            }
        }
    }
}

.col-third,.col-two-thirds {
  .card {
    &.card--category {
        .card__heading {
            max-height:110px;
            overflow:hidden;
            @media screen and (max-width:480px) {
                max-height:25px;
            }
        }
        .card__text {
            max-height:90px;
            overflow:hidden;
            @media screen and (max-width:480px) {
                max-height:25px;
            }
        }
    }
    &.card__imageOnly {
      .card__content {
        height:395px;
        .card__text {
            max-height:calc(400px - 180px);
            position:relative;
            overflow:hidden;
            /*.card__tag {
                position:absolute;
                bottom:0;
                left:0;
                width:100%;
            } */
        }

      }
    }
    &.card__vimeo, &.card__youtube {
        .card__content {
            .card__heading {
                max-height:calc(400px - 180px);
            }
        }
        &.withImage_content {
            .card__content {
                .card__heading {
                    max-height:calc(215px - 140px);
                }
            }
        }

    }
    &.card__facebook {
      &.withImage_content {
        .card__content {
          height:215px;
        }
      }
    }
    &.card__withoutImage {
      .card__content {
        height:395px;
        display:table-cell;
        .card__text {
            max-height:calc(400px - 180px);
            position:relative;
            overflow:hidden;
        }
      }
    }
  }
}


.col-half, .col-two-thirds {
	.card {
		.card__content {
			vertical-align:top;

			.card__caption {
				bottom:20px;
				margin-bottom:0px;
				position:absolute;
				width:calc(100% - 40px);

                @include phone {
                    width:100% !important;
                }
			}
		}
	}
}

@media screen and (max-width:767px) {
	.page_section {
		.card {
			margin-top:0px;
		}
	}

	.col-half {
		.card {
			height:400px!important;

			&.withImage_content {
				height:400px!important;

				.card__content {
					height:220px;
				}
				.card__caption {
					bottom:20px;
					margin-bottom:0px;
					position:absolute;
					width:calc(100% - 40px);

                    @include phone {
                        width:100% !important;
                    }
				}
			}

			&.card__withoutImage.card__facebook {
				height:400px!important;

				.card__content {
					height:400px;
				}
			}
		}
	}
}
