// Headings
@mixin card_heading1 {
    color:$light-color;
    font-family:$heading-font-family;
    font-size:50px;
    font-weight:bold;
    line-height:60px;
    margin:0px 0px 50px 0px;

    @include phone-to-tablet {
        line-height:1.2;
        font-size:($baseFontSize * 3);
    }
}

@mixin card_heading2 {
    font-size:42px;
    line-height:48px;
}

@mixin card_heading3 {
    font-size:30px;
    line-height:36px;
    margin-bottom:22px;
}

@mixin card_heading4 {
    font-size:18px;
    line-height:24px;
    margin-bottom:22px;
}

// Text
@mixin card_text_large {
    font-size:20px;
    line-height:28px;
}

@mixin card_text {
    font-size:16px;
    line-height:22px;
}

@mixin card_text_small {
    display:inline-block;
    font-family:$base-font-family;
    font-size:12px;
    font-weight:normal;
    line-height:18px;
}

@mixin card_darken {
    content:"";
    background-color:$dark-color;
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    @include opacity(0.4);
    z-index:90;
}

@mixin card_darken2 {
    background-color:$dark-color;
    content:"";
    height:100%;
    left:0px;
    @include opacity(0.75);
    position:absolute;
    top:0px;
    width:100%;
    z-index:90;
}

@mixin youtube_play {
    top:50%;
    left:50%;
    z-index:91;
    width:60px;
    height:60px;
    margin-top:-30px;
    margin-left:-30px;
    position:absolute;
    margin-bottom:20px;
    background-image:url("../images/icons/youtube.svg");
    background-position:50% center;
    background-repeat:no-repeat;
    @include background-size(100% auto);
}
