.col-quarter {
    .card {
        height:400px;
        &__category {
            &:after {
                margin-bottom:18px;
            }
        }
        &__heading {
            @include card_heading4;
            height:72px;
            margin-bottom:0px;
            overflow-y:hidden;
            width:100%;
        }
        &__no-image {
            display:block;
        }
        &__image {
            display:block;
            height:136px;
            width:100%;
            border-right:none;
        }
        &__content {
            display:block;
        }
        &__icon {
            &-youtube {
                display:none;
            }
        }
        &__text {
            height:42px;
            overflow-y:hidden;
        }
        &__featured {
            &-left {
                border-bottom-style:solid;
                border-bottom-width:6px;
                border-right:none;
                display:block;
                height:120px;
                padding:16px;
                width:100%;
            }
            &-right {
                display:block;
                width:100%;
            }
            &-heading {
                @include card_heading3;
                margin-bottom:0px;
            }
            &-title {
                margin-bottom:0px;
            }
            &-text {
                @include card_text_small;
                display:block;
                margin-bottom:0px;
            }
            &-sub-heading {
                @include card_text;
                margin-bottom:4px;
            }
            &-link {
                @include card_text_small;
                display:block;
                padding:10px 0px;
            }
            .button {
                line-height:30px;
            }
        }
        @include phone {
            height:auto;
        }
    }
    .card--light {
        .card {
            &__image {
                height:100%;
            }
        }
    }
    .author {
        height:360px;
        padding-top:20px;
        &__image {
            display:block;
        }
        &__avatar {
            border:3px $light-color solid;
            height:100px;
            width:100px;
        }
        &__links {
            left:0px;
        }
        &__link {
            height:70px;
            width:50%;
            &--following {
                display:none;
            }
        }
    }


    .card {
        .content-section {

        }

        .card__icon-social {
            top:5px;
        }

        &.card--technology {
            .card__tag, .card__read-time {
                display:none;
            }
        }

        &.card--category /*, &.card__instagram, &.card__youtube, &.card__vimeo */{
            .card__text, .card__tag {
                display:none;
            }
        }

        &.card_social {
            .card__heading, .card__tag, .card__icon-social {
                display:none;
            }
        }
		&.card__youtube, &.card__vimeo {
            .card__heading {
                display:block;
            }
		}
        &.card__youtube, &.card__vimeo, &.video_card {

            .card-icon {
                @include youtube_play;
            }
        }

        &.card__instagram {
            .card__tag {
                display:block;
            }
        }


        &.withImage_content {
            .card__image {
                width:100%;
            }

            .card__content {
                height:264px;
            }
        }


        &.without__image {
            .card__image {
                display:none;
            }

            .content-section {
                .card__heading, .card__text, .card__date, .card__read-time {
                    color:$dark-color;
                    text-shadow:none;
                }
                .card__heading {
                    line-height:32px;
                    margin-bottom:22px;
                    font-size:($baseFontSize * 2) + 4;
                }
                .card__text {
                    line-height:22px;
                    margin-bottom:22px;
                    font-size:($baseFontSize * 1) + 2;
                }
            }

            &.card--category /*, &.card__instagram, &.card__youtube, &.card__vimeo */{
                .card__text {
                    display:none;
                }
            }

            &.card_social {
                .card__heading, .card__tag, .card__icon-social {
                    display:none;
                }
            }
			
			&.card__youtube, &.card__vimeo {
                .card__heading {
                    display:block;
                }
            }
			
            &.card__youtube, &.card__vimeo, &.video_card {
                .card-icon {
                    @include youtube_play;
                }
            }

            &.card__instagram {
                .card__tag {
                    display:block;
                }
            }
        }
    }

    .card--light .card__heading {
        line-height:32px;
        margin-bottom:22px;
        font-size:($baseFontSize * 2) + 4;
    }
}
