.header {
    background-color:#27292c;
    border-bottom-style:solid;
    border-bottom-width:6px;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1);
    position:fixed;
    top:0px;
    width:100%;
    z-index:1000;
    @include phone {
        border-bottom-width:0px;
    }
    &__heading {
        &-link {
            &, &:link, &:visited, &:active {
                color:$base-color;
                display:inline-block;
                line-height:100px;
                vertical-align:middle;
                text-transform:uppercase;
            }
            &--search {
                &, &:link, &:visited, &:active {
                    background-image:url('../images/icons/search.svg');
                    background-repeat:no-repeat;
                    background-position:50% 50%;
                    background-size:40px;
                    height:100px;
                    width:60px;
                    display:none;
                }
                @include phone {
                    display:none;
                }
            }
            &--sign-in {}

            &--profile {
                &:link, &:visited, &:active {
                    background-color:rgba(255, 255, 255, 0);
                    background-image:url('../images/icons/profile.svg');
                    background-repeat:no-repeat;
                    background-position:50% 50%;
                    background-size:40px;
                    position:absolute;
                    right:20px;
                    top:10px;
                    height:40px;
                    width:40px;
                    z-index:100;
                    @include border-radius(100%);

                    @include phone {
                        top:10px;
                        right:10px;
                    }

                    @include phone-to-tablet {
                        width:40px;
                        right:15px;
                    }
                }
            }
            &--responsive {
                display:none !important;
                background-color:rgba(255, 255, 255, 0.8);
                background-image:url('../images/icons/menu.svg');
                background-repeat:no-repeat;
                background-position:50% 50%;
                background-size:40px;
                position:absolute;
                top:0px;
                left:0px;
                line-height:120px;
                height:120px;
                width:120px;
                z-index:100;
                @include tablet {
                    display:inline-block !important;
                    width:80px;
                }
                @include phone {
                    display:inline-block !important;
                    background-size:30px;
                    width:80px;
                }
            }
            @include phone {
                line-height:50px;
            }
        }
    }
    &__container {
        @extend .container;
        margin:0 auto;
        padding-top:10px;
        padding-bottom:10px;
        width:100%;
        @include phone {
            border-bottom:2px $highlight-color solid;
        }

        .col-right {
            @media #{$media-phone}, #{$media-iPhoneLarge}, #{$media-iPhoneMedium} {
                top:0px;
                right:0px;
                position:absolute;
            }
        }

        .col-left {
            height:40px;
            @include phone {
                width:94%;
                float:none;
                @include transition(all 0.2s linear);
            }
            @media #{$media-iPhoneLarge}, #{$media-iPhoneMedium} {
                width:92%;
                float:none;
                @include transition(all 0.2s linear);
            }
            @media #{$media-iPhoneMedium} {
                width:95%;
            }
            @media #{$media-phone} {
                width:calc(100% - 45px);
            }
        }

        .search_block {
            right:50px;
            position:relative;
            border-bottom:1px solid $light-color;

            @media #{$media-phone}, #{$media-iPhoneLarge}, #{$media-iPhoneMedium} {
                right:100px;
                border-bottom:0px none;
            }

            input[type=search] {
                -webkit-box-sizing:content-box;
                margin:0px;
                outline:none;
                background-color:$transparent;
                padding:9px 10px 9px 35px;
                width:100px;
                -webkit-border-radius:20px;
                border:20px;
                -webkit-transition:all .5s;
                transition:all .5s;
                color: $white;

                @media #{$media-phone}, #{$media-iPhoneLarge}, #{$media-iPhoneMedium} {
                    display:none;
                }
            }
            input[type=search]:focus {
                width:240px;
                color:$white;
            }
            .search_icon {
                top:0px;
                left:0px;
                width:30px;
                height:42px;
                color:$white;
                font-size:18px;
                border:0px none;
                padding:3px 0px;
                position:absolute;
                background-color:transparent;

                @media #{$media-phone}, #{$media-iPhoneLarge}, #{$media-iPhoneMedium} {
                    top:11px;
                }
                .icon-search {
                    font-size: ($baseFontSize * 1) + 2;
                }
            }
        }
    }
    &__logo {
        /* background-image:url(images/logo.svg);
        background-position:0% 50%;
        background-repeat:no-repeat;
        background-size:100%; */
        display:inline-block;
        float: left;
        height:40px;
        max-width:300px;
        overflow: hidden;
        img {
            position:relative;
            top:50%;
            @include translate(0,-50%);
            @media #{$media-phone}, #{$media-iPhoneLarge}, #{$media-iPhoneMedium} {
                margin: 0 auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
        @media #{$media-phone},
        #{$media-iPhoneLarge},
        #{$media-iPhoneMedium} {
            height:40px;
            max-width:160px;
            display:block;
            margin:0px auto;
            text-align:center;
            float: none;
        }
    }
    &__button {
        background-color:$highlight-color;
        border-radius:30px;
        display:inline-block;
        font-family:$base-font-family;
        font-size:($baseFontSize * 1);
        line-height:40px;
        margin-left:10px;
        outline:none;
        padding:0px 30px;
        text-transform:uppercase;
        transition:color 0.5s, background-color 0.5s;
        vertical-align:middle;
        &:hover {
            background-color:$hover-color;
            color:$light-color;
            transition:color 0s, background-color 0s;
        }
        @include phone {
            display:none;
        }
    }
    &__notifications {
        background-image:url('../images/icons/notifications.svg');
        background-position:50%;
        background-repeat:no-repeat;
        background-size:24px;
        display:inline-block;
        width:40px;
        line-height:40px;
        margin-left:30px;
        height:40px;
        vertical-align:middle;
        &-count {
            background-color:#f34059;
            border-radius:10px;
            color:$light-color;
            font-size:12px;
            display:inline-block;
            height:16px;
            line-height:16px;
            padding:0px 6px;
            text-align:right;
            transition:background-color 0.5s;
            vertical-align:top;
            width:auto;
        }
        &:hover {
            .header__notifications-count {
                background-color:#de002d;
                transition:background-color 0s;
            }
        }
        @include phone {
            display:none;
        }
    }
    &__new-article {
        background:#488df5;
        border-radius:3px;
        color:$light-color;
        cursor:pointer;
        margin-left:30px;
        padding:15px 20px;
        &:before {
            background-image:url('../images/icons/plus-circle.svg');
            background-size:contain;
            background-repeat:no-repeat;
            color:transparent;
            content:"";
            display:inline-block;
            height:15px;
            margin-bottom:-3px;
            margin-right:8px;
            width:15px;
        }
        @include phone-to-tablet {
            display:none;
        }
    }
    &__profile {
        background-position:50%;
        background-repeat:no-repeat;
        @include background-size(40px);
        border-radius:20px;
        border:2px transparent solid;
        display:inline-block;
        height:40px;
        line-height:40px;
        margin-left:30px;
        margin-right:20px;
        position:relative;
        transition:border-color 0.5s;
        vertical-align:middle;
        width:40px;

        &:after {
            background-image:url('../images/icons/arrow-down.svg');
            background-position:50%;
            background-repeat:no-repeat;
            @include background-size(14px);
            content:"";
            display:block;
            height:40px;
            opacity:0.5;
            position:absolute;
            right:-30px;
            top:0px;
            transition:opacity 0.5s;
            width:20px;
        }
        &:hover {
            border-color:$light-color;
            transition:border-color 0s;
            &:after {
                opacity:1;
                transition:opacity 0s;
            }
        }
        @include phone {
            margin-left:0px;
            margin-right:0px;
            &:after {
                display:none;
            }
        }
    }
    &__link {
        color:$light-color;
        display:inline-block;
        margin-left:12px;
        text-transform:uppercase;
        text-decoration:none!important;
        &:hover, &:active, &:focus {
            text-decoration:none!important;
        }
        &:after {
            color:$light-color;
            content:"|";
            display:inline-block;
            margin:0px 0px 0px 14px;
        }
        &:last-child {
            &:after {
                content:"";
            }
        }
    }
    &__navigation {
        background:$light-color;
        @include phone {
            display:none!important;
        }
        @include tablet {
            display:none!important;
        }
        &-list {
            list-style:none;
            margin-left:-10px;
            @include phone-to-tablet {
                display:none;
            }
        }
        &-item {
            float:left;
            display:block;
            position:relative;

            .sub-menu {
                top:55px;
                left:0px;
                margin:0;
                opacity:0;
                z-index:9;
                width:200px;
                padding:0px;
                text-align:left;
                visibility:hidden;
                position:absolute;
                border-top:6px solid $hover-color;
                background:$white none repeat scroll 0 0;
                @include transition(all 0.2s linear 0.1s);
                @include box-shadow(0px 2px 15px 0px rgba($dark-color, 0.2)!important);

                &.right {
                    left:auto;
                    right:-14px;
                }

                li {
                    margin:0;
                    display:block;
                    padding:0 0px;

                    a {
                        color:$dark-color;
                        display:block;
                        font-weight:normal;
                        text-align:left;
                        text-transform:none;
                        @include padding(7px 14px);
                        font-size:($baseFontSize * 1) + 2;
                        border-bottom:1px solid rgba($dark-color, 0.1);
                        &.external-link {
                            &:after {
                                background-image: url("../images/icons/diagonal-arrow.svg");
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                content: "";
                                display: inline-block;
                                height: 0.6em;
                                margin-left: 0.25em;
                                position: relative;
                                text-shadow: none;
                                top: -0.05em;
                                width: 0.6em;
                                padding-left: 15px;

                            }

                        }
                        &:hover, &:focus, &:active {
                            color:$white;
                            background:$hover-color none repeat scroll 0 0;
                            &.external-link {
                                &:after {
                                    background-image: url("../images/icons/diagonal-arrow-white.svg");
                                }
                            }

                        }
                    }

                    &:last-child > a {
                        border:0;
                    }

                    &:hover .sub-menu {
                        top:-1px;
                    }
                }

                .sub-menu {
                    top:10px;
                    left:100%;
                }
            }

            &:hover > .sub-menu {
                top:45px;
                @include opacity(1);
                visibility:visible;

                &-link {
                    &:hover, &.active {
                        border-top:3px $hover-color solid;

                    }
                }
            }
        }
        &-link {
            border-top:3px transparent solid;
            display:block;
            font-size:($baseFontSize * 1) + 3;
            line-height:44px;
            padding:0px 10px;
            text-transform:uppercase;
            margin-top:-3px;
            transition:0.5s;
            position:relative;
            &.external-link {
                &:after {
                    background-image: url("../images/icons/diagonal-arrow.svg");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: "";
                    display: inline-block;
                    height: 0.6em;
                    margin-left: 0.25em;
                    position: relative;
                    text-shadow: none;
                    top: -0.05em;
                    width: 0.6em;
                    padding-left: 15px;

                }

            }
            &.has-child:after {
                top:-1px;
                text-shadow:none;
                -webkit-font-smoothing:antialiased;
                font-family:$iconfont;
                speak:none;
                font-weight:normal;
                font-variant:normal;
                line-height:1;
                text-transform:none;
                color:$hover-color;
                content:"\f107";
                display:inline-block;
                margin-left:8px;
                margin-right:-10px;
                position:relative;
                font-size:($baseFontSize * 1) - 1;
            }

            &--selected, &:hover, &.active {
                color:$hover-color;
                transition:0s;
                border-top:3px $hover-color solid;
                &.external-link {
                    &:after {
                        background-image: url("../images/icons/diagonal-arrow-green.svg");

                    }
                }

            }
        }


        &-responsive {
            top:0px;
            left:0px;
            position:absolute;
            background-image:url("");
            background-position:50% 50%;
            background-repeat:no-repeat;
            background-size:32px;
            display:none;
            height:55px;
            line-height:45px;
            margin:0 auto;
            width:45px;
            &.close {
                float:left;
            }
            span {
                position:absolute;
                display:block;
                font-size:0;
                width:25px;
                height:2px;
                background-color:$light-color;
                margin:auto;
                left:0;
                right:0;
                overflow:hidden;
                @include border-radius(3px);
                &:after {
                    top:0px;
                    left:0px;
                    content:'';
                    display:block;
                    position:absolute;
                    width:100%;
                    height:3px;
                    background-color:$highlight-color;
                    @include transform(translateX(-100%));
                    @include transition(all 0.2s linear);
                }
            }
            .item-1 {
                top:23px;
            }
            .item-2 {
                top:31px;
                &:after {
                    @include transition-delay(0.1s);
                }
            }
            .item-3 {
                top:39px;
                &:after {
                    @include transition-delay(0.2s);
                }
            }
            &:hover span:after {
                @include transform(translateZ(0));
            }
            &--white {
                background-image:url('../images/icons/menu-white.svg');
                background-repeat:no-repeat;
                background-position:50% 50%;
                background-size:26px;
                display:none;
                height:40px;
                vertical-align:middle;
                width:40px;
                @include phone {
                    display:inline-block;
                }
            }
            @media screen and (max-width: 1180px) {
                display:block;
            }
        }
        @include phone {
            display:block;
        }
    }
    &__search {
        background-color:transparent;
        background-image:url('../images/icons/search-white.svg');
        background-position:100% 50%;
        background-repeat:no-repeat;
        background-size:40px;
        border:0;
        border-bottom:1px solid $light-color;
        color:$light-color;
        font-family:$text-font-family;
        font-size:16px;
        height:44px;
        line-height:44px;
        padding:0px 40px 0px 0px;
        width:200px;
        margin-right:80px;
        @include phone-to-tablet {
            border-bottom:0px;
            width:0px;
        }
    }
}


#custom-search-form-container {
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    display:none;
    z-index:9999;
    position:fixed;
    text-align:center;
    padding:30px 0 20px;
    background:rgba($dark-color ,0.85) none repeat scroll 0 0;

    #custom-search-form {
        top:50%;
        left:50%;
        width:1180px;
        position:absolute;
        -webkit-transition:all 0.3s ease-out;
        -moz-transition:all 0.3s ease-out;
        -o-transition:all 0.3s ease-out;
        transition:all 0.3s ease-out;
        @include transform(translate(-50%, -50%));

        @media #{$media-phone}, #{$media-iPhoneMedium}, #{$media-iPhoneLarge} {
            width:90%;
        }
        @media screen and (min-width:768px) and (max-width:1099px) {
            width:80%;
        }

        input[type="text"] {
            float:left;
            width:calc(100% - 70px);
            height:auto;
            height:70px;
            @include border-radius(3px);
            font-weight:300;
            border:2px solid #cccccc;
            padding:15px 75px 15px 20px;
            font-size:($baseFontSize * 2) - 2;
            background:$white none repeat scroll 0 0;
            -webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            -o-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

            @media #{$media-phone}, #{$media-iPhoneMedium}, #{$media-iPhoneLarge} {
                height:50px;
                width:calc(100% - 50px);
                padding:5px 40px 5px 10px;
                font-size:($baseFontSize * 1);
            }

            &:focus {
                border:2px solid rgba($white ,1)!important;
                @include box-shadow(inset 0 0 0 1px rgba($hover-color ,1));
            }
        }

        .search_button {
            float:left;
            width:70px;
            height:70px;
            border:none;
            margin-left:-70px;
            display:inline-block;
            vertical-align: middle;
            background: $transparent !important;
            /* background:url('../images/icons/search.svg') no-repeat center center; */
            background-size:70px auto;

            @media #{$media-phone}, #{$media-iPhoneMedium}, #{$media-iPhoneLarge} {
                width:40px;
                height:50px;
                margin-left:-40px;
                background-size:40px 50px;
            }
        }
    }

    a.custom-search-form-close {
        @include opacity(0);
        @include transform(translateY(-40px) rotate(90deg));
    }
    #custom-search-form a.custom-search-form-close {
        @include opacity(1);
        @include transform(translateY(0px) rotate(0deg));
    }

    a.custom-search-form-close {
        top:20px;
        right:20px;
        z-index:50;
        width:30px;
        height:30px;
        border:none;
        cursor:pointer;
        position:absolute;
        background:transparent;
        @include transition(all 0.4s ease-in-out);

        @media #{$media-phone}, #{$media-iPhoneMedium}, #{$media-iPhoneLarge} {
            top:10px;
            right:10px;
        }

        > span {
            font-size:0px;
        }

        &:hover {
            @include transform(translateY(0px) rotate(90deg)!important);
        }

        &:before, &:after {
            top:50%;
            left:-15%;
            right:-15%;
            height:1px;
            content:' ';
            position:absolute;
            background-color:$white;
            @include transition(all 0.2s ease-in-out);
        }

        &:before {
            @include transform(rotate(45deg));
        }
        &:after {
            @include transform(rotate(-45deg));
        }
    }
}


.header__navigation-item {
    &:hover {
        margin-top:-3px;
        border-top:3px $hover-color solid;
    }
}
