// Proxima Nova
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot'),
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.otf')  format('opentype'),
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot'),
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.otf')  format('opentype'),
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-light/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova-light/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-light/proximanova-light-webfont.woff2') format('woff2'),
       url('../fonts/proximanova-light/proximanova-light-webfont.woff') format('woff'),
       url('../fonts/proximanova-light/proximanova-light-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-light/proximanova-light-webfont.svg#proxima_novalight') format('svg');
  font-weight: 100;
}


// Gotham Rounded
@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Bold/GothamRounded-Bold.eot'),
       url('../fonts/GothamRounded-Bold/GothamRounded-Bold.woff') format('woff'),
       url('../fonts/GothamRounded-Bold/GothamRounded-Bold.ttf')  format('truetype'),
       url('../fonts/GothamRounded-Bold/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: bold;
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamMedium/gothamrnd-medium.eot');
  src: url('../fonts/GothamMedium/gothamrnd-medium.eot') format('embedded-opentype'),
       url('../fonts/GothamMedium/gothamrnd-medium.woff') format('woff'),
       url('../fonts/GothamMedium/gothamrnd-medium.ttf') format('truetype'),
       url('../fonts/GothamMedium/gothamrnd-medium.svg#GothamRoundedMedium') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/Gotham-Rounded-Book/gotham-rounded-book_21018.eot');
  src: url('../fonts/Gotham-Rounded-Book/gotham-rounded-book_21018.eot') format('embedded-opentype'),
       url('../fonts/Gotham-Rounded-Book/gotham-rounded-book_21018.woff2') format('woff2'),
       url('../fonts/Gotham-Rounded-Book/gotham-rounded-book_21018.woff') format('woff'),
       url('../fonts/Gotham-Rounded-Book/gotham-rounded-book_21018.ttf') format('truetype'),
       url('../fonts/Gotham-Rounded-Book/gotham-rounded-book_21018.svg#GothamRoundedBook') format('svg');
  font-weight: 100;
}
