// Margins
// ================================
.no-padding-top {
	padding-top:0px;
}
.no-padding-bottom {
	padding-bottom:0px!important;
}
.no-margin-top {
	margin-top:0px;
}
.has-margin-top-10 {
	margin-top:10px;
}
.has-margin-top-15 {
	margin-top:15px;
}
.has-margin-top-20 {
	margin-top:20px;
}
.has-margin-top-25 {
	margin-top:25px;
}
.has-margin-top-30 {
	margin-top:30px;
}
.has-margin-top-35 {
	margin-top:35px;
}
.has-margin-top-40 {
	margin-top:40px;
}
.has-margin-top-45 {
	margin-top:45px;
}
.has-margin-top-50 {
	margin-top:50px;
}
.no-padding-bottom {
	padding-bottom:0px;
}
.no-margin-bottom {
	margin-bottom:0px!important;
}
.no-margin-left {
	margin-left:0px;
}
.has-margin-bottom-10 {
	margin-bottom:10px;
}
.has-margin-bottom-15 {
	margin-bottom:15px;
}
.has-margin-bottom-20 {
	margin-bottom:20px;
}
.has-margin-bottom-25 {
	margin-bottom:25px;
}
.has-margin-bottom-30 {
	margin-bottom:30px;
}
.has-margin-bottom-35 {
	margin-bottom:35px;
}
.has-margin-bottom-40 {
	margin-bottom:40px;
}
.has-margin-bottom-45 {
	margin-bottom:45px;
}
.has-margin-bottom-50 {
	margin-bottom:50px;
}
.has-margin-bottom-80 {
	margin-bottom:80px;
}
.has-margin-right-10 {
	margin-right:10px;
}
.has-margin-right-20 {
	margin-right:20px;
}
.has-margin-left-10 {
	margin-left:10px;
}
.has-margin-left-20 {
	margin-left:20px;
}
.has-padding-bottom-20 {
	padding-bottom:22px!important;
}